/*
 * Page: Lock Screen
 * -----------------
 */
/* ADD THIS CLASS TO THE <BODY> TAG */
.skin-plex .lockscreen {
    background: #d2d6de;
}
.skin-plex .lockscreen-logo a {
    color: #444;
}
/* Will contain the image and the sign in form */
.skin-plex .lockscreen-item {
    background: #fff;
}
/* User image */
.skin-plex .lockscreen-image {
    background: #fff;
}
/* Contains the password input and the login button */
.skin-plex .lockscreen-credentials .btn {
    background-color: #fff;
}