/*
 * Page: Login & Register
 * ----------------------
 */
.skin-plex .login-logo a,
.skin-plex .register-logo a {
    color: #444;
}
.skin-plex .login-page,
.skin-plex .register-page {
    background: #d2d6de;
}
.skin-plex .login-box-body,
.skin-plex .register-box-body {
    background: #fff;
    color: #666;
}
.skin-plex .login-box-body .form-control-feedback,
.skin-plex .register-box-body .form-control-feedback {
    color: #777;
}