/*
 * Page: Mailbox
 * -------------
 */
.skin-plex .mailbox-controls.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.skin-plex .mailbox-read-info {
    border-bottom: 1px solid #f4f4f4;
}
.skin-plex .mailbox-read-time {
    color: #999;
}
.skin-plex .mailbox-attachments li {
    border: 1px solid #eee;
}
.skin-plex .mailbox-attachment-name {
    color: #666;
}
.skin-plex .mailbox-attachment-info {
    background: #f4f4f4;
}
.skin-plex .mailbox-attachment-size {
    color: #999;
}
.skin-plex .mailbox-attachment-icon {
    color: #666;
}