{% extends "pages/abstract/default.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("LIBRARY", 2)}}{% endblock %}

{% block page_description %}{{ translate("LIBRARY.PAGE_DESCRIPTION.LIBRARIES",{'title': site.title})}}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div id="widget-libraries" class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title pull-left"><i class="fa fa-fw fa-user"></i> {{translate('LIBRARY', 2)}}</h3>
                </div>
                <div class="box-body">
                    {% include "tables/libraries.html.twig" with {
                            "table" : {
                                "id" : "table-libraries"
                            }
                        }
                    %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/libraries') | raw }}

{% endblock %}
