{# This partial template renders a table of users, to be populated with rows via an AJAX request.
 # This extends a generic template for paginated tables.
 #
 # Note that this template contains a "skeleton" table with an empty table body, and then a block of Handlebars templates which are used
 # to render the table cells with the data from the AJAX request.
#}

{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-hover table-striped" data-sortlist="{{table.sortlist}}">
        <thead>
            <tr>
                <th class="sorter-metatext" data-filter="false" data-sorter="false" data-column-name="thumb" data-column-template="#library-table-column-thumb" data-priority="critical">{{translate("LIBRARY.MOVIE.THUMB")}}</th>
                <th class="sorter-metatext" data-column-name="title" data-column-template="#library-table-column-title" data-priority="critical">{{translate('LIBRARY.MOVIE.TITLE')}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="year" data-column-template="#library-table-column-year" data-priority="3">{{translate("LIBRARY.MOVIE.YEAR")}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metatext filter-select" data-column-name="genres" data-column-template="#library-table-column-genres" data-priority="critical">{{ translate("LIBRARY.MOVIE.GENRE") }} <i class="fa fa-sort"></i></th>
                <th class="sorter-metatext filter-select" data-column-name="contentRating" data-column-template="#library-table-column-contentrating" data-priority="1">{{translate("LIBRARY.MOVIE.CONTENTRATING")}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metatext" data-sorter="false" data-column-name="summary" data-column-template="#library-table-column-summary" data-priority="1">{{translate("LIBRARY.MOVIE.SUMMARY")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {# This contains a series of <script> blocks, each of which is a client-side Handlebars template.
     # Note that these are NOT Twig templates, although the syntax is similar.  We wrap them in the `verbatim` tag,
     # so that Twig will output them directly into the DOM instead of trying to treat them like Twig templates.
     #
     # These templates require handlebars-helpers.js, moment.js
    #}
    {% verbatim %}
    <script id="library-table-column-thumb" type="text/x-handlebars-template">
        <td data-text="{{row.thumb}}">
            <img src="{{row.thumb}}" style="max-height: 75px;">
        </td>
    </script>

    <script id="library-table-column-title" type="text/x-handlebars-template">
        <td data-text="{{row.title}}">
            <strong>
                <a href="{{site.uri.public}}/movie/{{row.id}}">{{row.title}}</a>
            </strong>
        </td>
    </script>

    <script id="library-table-column-year" type="text/x-handlebars-template">
        <td data-text="{{row.year}}">
            <i>{{row.year}}</i>
        </td>
    </script>

    <script id="library-table-column-genres" type="text/x-handlebars-template">
        <td data-text="{{row.genres}}">
            <i>{{row.genres}}</i>
        </td>
    </script>

    <script id="library-table-column-contentrating" type="text/x-handlebars-template">
        <td data-text="{{row.contentRating}}">
            <i>{{row.contentRating}}</i>
        </td>
    </script>

    <script id="library-table-column-summary" type="text/x-handlebars-template">
        <td data-text="{{row.summary}}">
            <i>{{row.summary}}</i>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
