{# This partial template renders a table of users, to be populated with rows via an AJAX request.
 # This extends a generic template for paginated tables.
 #
 # Note that this template contains a "skeleton" table with an empty table body, and then a block of Handlebars templates which are used
 # to render the table cells with the data from the AJAX request.
#}

{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-hover table-striped" data-sortlist="{{table.sortlist}}">
        <thead>
            <tr>
                <th class="sorter-metatext" data-sorter="false" data-filter="false" data-column-name="name" data-column-template="#library-table-column-name" data-priority="critical">{{translate('LIBRARY')}}</th>
                <th class="sorter-metatext filter-select" data-sorter="false" data-column-name="type" data-column-template="#library-table-column-type" data-priority="critical">{{translate("LIBRARY.TYPE")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {# This contains a series of <script> blocks, each of which is a client-side Handlebars template.
     # Note that these are NOT Twig templates, although the syntax is similar.  We wrap them in the `verbatim` tag,
     # so that Twig will output them directly into the DOM instead of trying to treat them like Twig templates.
     #
     # These templates require handlebars-helpers.js, moment.js
    #}
    {% verbatim %}
    <script id="library-table-column-name" type="text/x-handlebars-template">
        <td data-text="{{row.name}}">
            <strong>
                <a href="{{site.uri.public}}/library/{{row.id}}">{{row.name}}</a>
            </strong>
        </td>
    </script>

    <script id="library-table-column-type" type="text/x-handlebars-template">
        <td data-text="{{row.type}}">
            <i>{{row.type}}</i>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
