<center>
	<style>
		img {
			max-height: 150px;
			border-radius: 15px;
			margin: 10px 0px;
		}
		h2 {
			margin-top: 5px;
		}
	</style>
<h2>
	HowTo: Get Your Plex Token
</h2>
<h3>
	1. Sign in to the web Plex App
</h3>
<p>
	Go to <a href="https://app.plex.tv/desktop" target="_blank">https://app.plex.tv/desktop</a> and sign in to your account.<br>
	<img src="{{ assets.url('assets://plex/images/howto_1.PNG') }}">
</p>

<h3>
	2. Select the correct server!
</h3>
<p>
	In the dropdown to the left, make sure to select this server ({{ site.title }}).<br>
	<img src="{{ assets.url('assets://plex/images/howto_2.PNG') }}">
</p>

<h3>
	3. Get media info
</h3>
<p>
	Click the three dots on ANY media and select "Get Info".<br>
	<img src="{{ assets.url('assets://plex/images/howto_3.PNG') }}">
</p>

<h3>
	4. View the XML
</h3>
<p>
	Click on "View XML" in the bottom of the popup.<br>
	<img src="{{ assets.url('assets://plex/images/howto_4.PNG') }}">
</p>

<h3>
	5. Get your Token
</h3>
<p>
	In the new tabs/windows addressbar, locate the LAST part of it and copy it. <br>
	It would look something like this:<br>
	<img src="{{ assets.url('assets://plex/images/howto_5.PNG') }}"><br>
	You need the part AFTER the equals sign (=). That is your personal Plex Token.
</p>
</center>