{% extends '@core/navigation/main-nav.html.twig' %}

{% block main_nav %}

    {{ parent() }}

  <li>
    <a href="/libraries"><i class="fa fa-film fa-fw"></i> <span>Libraries</span></a>
  </li>

{% endblock %}