/*
 * Skin: Plex
 * ----------
 */

/* Import styles */
@import 'components/alert.css';
@import 'components/box.css';
@import 'components/box-small.css';
@import 'components/button.css';
@import 'components/callout.css';
@import 'components/carousel.css';
@import 'components/directchat.css';
@import 'components/form.css';
@import 'components/info-box.css';
@import 'components/label.css';
@import 'components/modal.css';
@import 'components/nav.css';
@import "components/pager.css";
@import 'components/panel.css';
@import 'components/productslist.css';
@import 'components/progressbar.css';
@import 'components/socialwidgets.css';
@import 'components/table.css';
@import "components/thumbnail.css";
@import 'components/timeline.css';
@import 'components/todolist.css';
@import 'components/userslist.css';
@import "components/well.css";

@import 'pages/error_400_500.css';
@import 'pages/invoice.css';
@import 'pages/lockscreen.css';
@import 'pages/login_register.css';
@import 'pages/mailbox.css';
@import 'pages/profile.css';

@import 'plugins/fullcalendar.css';
@import 'plugins/select2.css';

@import 'bs_social.css';
@import 'misc.css';
@import "print.css";
/*
 * General
 * -------
 */
body.skin-plex {
  padding-top: 50px;
  padding-bottom: 50px;
}
.skin-plex .content-wrapper {
  background: #333333;
  color: #9f9f9f;
}

.skin-plex .main-footer {
  background: #000000;
  color: #c3c3c3;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.skin-plex .main-footer a {
  color: hsl(0,50%,75%);
}
.skin-plex .main-footer a:hover,
.skin-plex .main-footer a:active,
.skin-plex .main-footer a:focus {
  color: #ff0000;
}
.skin-plex .content-wrapper .content-header {
  color: #ffffff;
}
.skin-plex .content-wrapper .content-header > h1 > small {
  color: #ccc;
}
.skin-plex .content-header > .breadcrumb > li > a {
  color: #9f9f9f;
}
.skin-plex .content-header > .breadcrumb > li.active {
  color: #ffffff;
}

.skin-plex .page-header {
  color: #ffffff;
  border-bottom-color: #f60000;
}

.skin-plex .img-responsive {
  border: 2px solid #ddd;
  border-radius: 5px;
  margin: 3px;
}
.skin-plex .thumbnail > img,
.skin-plex .thumbnail a > img {
  margin: 0;
}

.skin-plex hr {
  border-top-color: #f60000;
}

@media (max-width: 991px) {
  .skin-plex .content-header > .breadcrumb {
    background: #3c3c3c;
  }
}

/*********************************************************************************************************************/
/* General Links */
.skin-plex a {
  color: #6f1111;
}
.skin-plex a:hover,
.skin-plex a:active,
.skin-plex a:focus {
  color: #f80000;
}
.skin-plex .main-header .navbar {
  background-color: #000000;
}
.skin-plex .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-plex .main-header .navbar .nav > li > a:hover,
.skin-plex .main-header .navbar .nav > li > a:active,
.skin-plex .main-header .navbar .nav > li > a:focus,
.skin-plex .main-header .navbar .nav .open > a,
.skin-plex .main-header .navbar .nav .open > a:hover,
.skin-plex .main-header .navbar .nav .open > a:focus,
.skin-plex .main-header .navbar .nav > .active > a {
  background: #f60000;
  color: #f6f6f6;
}
.skin-plex .main-header .navbar .sidebar-toggle {
  color: #f60000;
}
.skin-plex .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(246, 0, 0, 0.1);
}
.skin-plex .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-plex .main-header .navbar .sidebar-toggle:hover {
  background-color: #7c0000;
}
@media (max-width: 767px) {
  .skin-plex .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-plex .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-plex .main-header .navbar .dropdown-menu li a:hover {
    background: #f60000;
  }
}
.skin-plex .main-header .logo {
  background-color: #f60000;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-plex .main-header .logo:hover {
  background-color: #7c0000;
}
.skin-plex .main-header li.user-header {
  background-color: #f61111;
}
.skin-plex .content-header {
  background: transparent;
}
.skin-plex .wrapper,
.skin-plex .main-sidebar,
.skin-plex .left-side {
  background-color: #6f0000;
}
.skin-plex .user-panel > .info,
.skin-plex .user-panel > .info > a {
  color: #fff;
}
.skin-plex .sidebar-menu > li.header {
  color: #6f646f;
  background: #2f2226;
}
.skin-plex .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-plex .sidebar-menu > li:hover > a,
.skin-plex .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #2f2226;
  border-left-color: #f61111;
}
.skin-plex .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #6f3b41;
}
.skin-plex .sidebar a {
  color: #b8c7ce;
}
.skin-plex .sidebar a:hover {
  text-decoration: none;
}
.skin-plex .treeview-menu > li > a {
  color: #f8a4af;
}
.skin-plex .treeview-menu > li.active > a,
.skin-plex .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-plex .sidebar-form {
  border-radius: 3px;
  border: 1px solid #f64850;
  margin: 10px 10px;
}
.skin-plex .sidebar-form input[type="text"],
.skin-plex .sidebar-form .btn {
  box-shadow: none;
  background-color: #f64850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-plex .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-plex .sidebar-form input[type="text"]:focus,
.skin-plex .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-plex .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-plex .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-plex.layout-top-nav .main-header > .logo {
  background-color: #f61111;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-plex.layout-top-nav .main-header > .logo:hover {
  background-color: #f61111;
}