/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2015 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */
.skin-plex .btn-social > :first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-social-icon > :first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-adn {
    color: #ffffff;
    background-color: #d87a68;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-adn:focus,
.skin-plex .btn-adn.focus {
    color: #ffffff;
    background-color: #ce563f;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-adn:hover {
    color: #ffffff;
    background-color: #ce563f;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-adn:active,
.skin-plex .btn-adn.active,
.skin-plex .open > .dropdown-toggle.btn-adn {
    color: #ffffff;
    background-color: #ce563f;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-adn .badge {
    color: #d87a68;
    background-color: #ffffff;
}
.skin-plex .btn-bitbucket {
    color: #ffffff;
    background-color: #205081;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-bitbucket:focus,
.skin-plex .btn-bitbucket.focus {
    color: #ffffff;
    background-color: #163758;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-bitbucket:hover {
    color: #ffffff;
    background-color: #163758;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-bitbucket:active,
.skin-plex .btn-bitbucket.active,
.skin-plex .open > .dropdown-toggle.btn-bitbucket {
    color: #ffffff;
    background-color: #163758;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-bitbucket .badge {
    color: #205081;
    background-color: #ffffff;
}
.skin-plex .btn-dropbox {
    color: #ffffff;
    background-color: #1087dd;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-dropbox:focus,
.skin-plex .btn-dropbox.focus {
    color: #ffffff;
    background-color: #0d6aad;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-dropbox:hover {
    color: #ffffff;
    background-color: #0d6aad;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-dropbox:active,
.skin-plex .btn-dropbox.active,
.skin-plex .open > .dropdown-toggle.btn-dropbox {
    color: #ffffff;
    background-color: #0d6aad;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-dropbox .badge {
    color: #1087dd;
    background-color: #ffffff;
}
.skin-plex .btn-facebook {
    color: #ffffff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-facebook:focus,
.skin-plex .btn-facebook.focus {
    color: #ffffff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-facebook:hover {
    color: #ffffff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-facebook:active,
.skin-plex .btn-facebook.active,
.skin-plex .open > .dropdown-toggle.btn-facebook {
    color: #ffffff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-facebook .badge {
    color: #3b5998;
    background-color: #ffffff;
}
.skin-plex .btn-flickr {
    color: #ffffff;
    background-color: #ff0084;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-flickr:focus,
.skin-plex .btn-flickr.focus {
    color: #ffffff;
    background-color: #cc006a;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-flickr:hover {
    color: #ffffff;
    background-color: #cc006a;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-flickr:active,
.skin-plex .btn-flickr.active,
.skin-plex .open > .dropdown-toggle.btn-flickr {
    color: #ffffff;
    background-color: #cc006a;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-flickr .badge {
    color: #ff0084;
    background-color: #ffffff;
}
.skin-plex .btn-foursquare {
    color: #ffffff;
    background-color: #f94877;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-foursquare:focus,
.skin-plex .btn-foursquare.focus {
    color: #ffffff;
    background-color: #f71752;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-foursquare:hover {
    color: #ffffff;
    background-color: #f71752;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-foursquare:active,
.skin-plex .btn-foursquare.active,
.skin-plex .open > .dropdown-toggle.btn-foursquare {
    color: #ffffff;
    background-color: #f71752;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-foursquare .badge {
    color: #f94877;
    background-color: #ffffff;
}
.skin-plex .btn-github {
    color: #ffffff;
    background-color: #444444;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-github:focus,
.skin-plex .btn-github.focus {
    color: #ffffff;
    background-color: #2b2b2b;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-github:hover {
    color: #ffffff;
    background-color: #2b2b2b;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-github:active,
.skin-plex .btn-github.active,
.skin-plex .open > .dropdown-toggle.btn-github {
    color: #ffffff;
    background-color: #2b2b2b;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-github .badge {
    color: #444444;
    background-color: #ffffff;
}
.skin-plex .btn-google {
    color: #ffffff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-google:focus,
.skin-plex .btn-google.focus {
    color: #ffffff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-google:hover {
    color: #ffffff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-google:active,
.skin-plex .btn-google.active,
.skin-plex .open > .dropdown-toggle.btn-google {
    color: #ffffff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-google .badge {
    color: #dd4b39;
    background-color: #ffffff;
}
.skin-plex .btn-instagram {
    color: #ffffff;
    background-color: #3f729b;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-instagram:focus,
.skin-plex .btn-instagram.focus {
    color: #ffffff;
    background-color: #305777;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-instagram:hover {
    color: #ffffff;
    background-color: #305777;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-instagram:active,
.skin-plex .btn-instagram.active,
.skin-plex .open > .dropdown-toggle.btn-instagram {
    color: #ffffff;
    background-color: #305777;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-instagram .badge {
    color: #3f729b;
    background-color: #ffffff;
}
.skin-plex .btn-linkedin {
    color: #ffffff;
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-linkedin:focus,
.skin-plex .btn-linkedin.focus {
    color: #ffffff;
    background-color: #005983;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-linkedin:hover {
    color: #ffffff;
    background-color: #005983;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-linkedin:active,
.skin-plex .btn-linkedin.active,
.skin-plex .open > .dropdown-toggle.btn-linkedin {
    color: #ffffff;
    background-color: #005983;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-linkedin .badge {
    color: #007bb6;
    background-color: #ffffff;
}
.skin-plex .btn-microsoft {
    color: #ffffff;
    background-color: #2672ec;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-microsoft:focus,
.skin-plex .btn-microsoft.focus {
    color: #ffffff;
    background-color: #125acd;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-microsoft:hover {
    color: #ffffff;
    background-color: #125acd;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-microsoft:active,
.skin-plex .btn-microsoft.active,
.skin-plex .open > .dropdown-toggle.btn-microsoft {
    color: #ffffff;
    background-color: #125acd;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-microsoft .badge {
    color: #2672ec;
    background-color: #ffffff;
}
.skin-plex .btn-openid {
    color: #ffffff;
    background-color: #f7931e;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-openid:focus,
.skin-plex .btn-openid.focus {
    color: #ffffff;
    background-color: #da7908;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-openid:hover {
    color: #ffffff;
    background-color: #da7908;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-openid:active,
.skin-plex .btn-openid.active,
.skin-plex .open > .dropdown-toggle.btn-openid {
    color: #ffffff;
    background-color: #da7908;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-openid .badge {
    color: #f7931e;
    background-color: #ffffff;
}
.skin-plex .btn-pinterest {
    color: #ffffff;
    background-color: #cb2027;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-pinterest:focus,
.skin-plex .btn-pinterest.focus {
    color: #ffffff;
    background-color: #9f191f;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-pinterest:hover {
    color: #ffffff;
    background-color: #9f191f;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-pinterest:active,
.skin-plex .btn-pinterest.active,
.skin-plex .open > .dropdown-toggle.btn-pinterest {
    color: #ffffff;
    background-color: #9f191f;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-pinterest .badge {
    color: #cb2027;
    background-color: #ffffff;
}
.skin-plex .btn-reddit {
    color: #000000;
    background-color: #eff7ff;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-reddit:focus,
.skin-plex .btn-reddit.focus {
    color: #000000;
    background-color: #bcddff;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-reddit:hover {
    color: #000000;
    background-color: #bcddff;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-reddit:active,
.skin-plex .btn-reddit.active,
.skin-plex .open > .dropdown-toggle.btn-reddit {
    color: #000000;
    background-color: #bcddff;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-reddit .badge {
    color: #eff7ff;
    background-color: #000000;
}
.skin-plex .btn-soundcloud {
    color: #ffffff;
    background-color: #ff5500;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-soundcloud:focus,
.skin-plex .btn-soundcloud.focus {
    color: #ffffff;
    background-color: #cc4400;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-soundcloud:hover {
    color: #ffffff;
    background-color: #cc4400;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-soundcloud:active,
.skin-plex .btn-soundcloud.active,
.skin-plex .open > .dropdown-toggle.btn-soundcloud {
    color: #ffffff;
    background-color: #cc4400;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-soundcloud .badge {
    color: #ff5500;
    background-color: #ffffff;
}
.skin-plex .btn-tumblr {
    color: #ffffff;
    background-color: #2c4762;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-tumblr:focus,
.skin-plex .btn-tumblr.focus {
    color: #ffffff;
    background-color: #1c2d3f;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-tumblr:hover {
    color: #ffffff;
    background-color: #1c2d3f;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-tumblr:active,
.skin-plex .btn-tumblr.active,
.skin-plex .open > .dropdown-toggle.btn-tumblr {
    color: #ffffff;
    background-color: #1c2d3f;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-tumblr .badge {
    color: #2c4762;
    background-color: #ffffff;
}
.skin-plex .btn-twitter {
    color: #ffffff;
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-twitter:focus,
.skin-plex .btn-twitter.focus {
    color: #ffffff;
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-twitter:hover {
    color: #ffffff;
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-twitter:active,
.skin-plex .btn-twitter.active,
.skin-plex .open > .dropdown-toggle.btn-twitter {
    color: #ffffff;
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-twitter .badge {
    color: #55acee;
    background-color: #ffffff;
}
.skin-plex .btn-vimeo {
    color: #ffffff;
    background-color: #1ab7ea;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-vimeo:focus,
.skin-plex .btn-vimeo.focus {
    color: #ffffff;
    background-color: #1295bf;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-vimeo:hover {
    color: #ffffff;
    background-color: #1295bf;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-vimeo:active,
.skin-plex .btn-vimeo.active,
.skin-plex .open > .dropdown-toggle.btn-vimeo {
    color: #ffffff;
    background-color: #1295bf;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-vimeo .badge {
    color: #1ab7ea;
    background-color: #ffffff;
}
.skin-plex .btn-vk {
    color: #ffffff;
    background-color: #587ea3;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-vk:focus,
.skin-plex .btn-vk.focus {
    color: #ffffff;
    background-color: #466482;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-vk:hover {
    color: #ffffff;
    background-color: #466482;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-vk:active,
.skin-plex .btn-vk.active,
.skin-plex .open > .dropdown-toggle.btn-vk {
    color: #ffffff;
    background-color: #466482;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-vk .badge {
    color: #587ea3;
    background-color: #ffffff;
}
.skin-plex .btn-yahoo {
    color: #ffffff;
    background-color: #720e9e;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-yahoo:focus,
.skin-plex .btn-yahoo.focus {
    color: #ffffff;
    background-color: #500a6f;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-yahoo:hover {
    color: #ffffff;
    background-color: #500a6f;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-yahoo:active,
.skin-plex .btn-yahoo.active,
.skin-plex .open > .dropdown-toggle.btn-yahoo {
    color: #ffffff;
    background-color: #500a6f;
    border-color: rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-yahoo .badge {
    color: #720e9e;
    background-color: #ffffff;
}