/*
 * General: Miscellaneous
 * ----------------------
 */
.skin-plex .bg-red,
.skin-plex .bg-yellow,
.skin-plex .bg-aqua,
.skin-plex .bg-blue,
.skin-plex .bg-light-blue,
.skin-plex .bg-green,
.skin-plex .bg-navy,
.skin-plex .bg-teal,
.skin-plex .bg-olive,
.skin-plex .bg-lime,
.skin-plex .bg-orange,
.skin-plex .bg-fuchsia,
.skin-plex .bg-purple,
.skin-plex .bg-maroon,
.skin-plex .bg-black,
.skin-plex .bg-red-active,
.skin-plex .bg-yellow-active,
.skin-plex .bg-aqua-active,
.skin-plex .bg-blue-active,
.skin-plex .bg-light-blue-active,
.skin-plex .bg-green-active,
.skin-plex .bg-navy-active,
.skin-plex .bg-teal-active,
.skin-plex .bg-olive-active,
.skin-plex .bg-lime-active,
.skin-plex .bg-orange-active,
.skin-plex .bg-fuchsia-active,
.skin-plex .bg-purple-active,
.skin-plex .bg-maroon-active,
.skin-plex .bg-black-active,
.skin-plex .callout.callout-danger,
.skin-plex .callout.callout-warning,
.skin-plex .callout.callout-info,
.skin-plex .callout.callout-success,
.skin-plex .alert-success,
.skin-plex .alert-danger,
.skin-plex .alert-error,
.skin-plex .alert-warning,
.skin-plex .alert-info,
.skin-plex .label-danger,
.skin-plex .label-info,
.skin-plex .label-warning,
.skin-plex .label-primary,
.skin-plex .label-success,
.skin-plex .modal-primary .modal-body,
.skin-plex .modal-primary .modal-header,
.skin-plex .modal-primary .modal-footer,
.skin-plex .modal-warning .modal-body,
.skin-plex .modal-warning .modal-header,
.skin-plex .modal-warning .modal-footer,
.skin-plex .modal-info .modal-body,
.skin-plex .modal-info .modal-header,
.skin-plex .modal-info .modal-footer,
.skin-plex .modal-success .modal-body,
.skin-plex .modal-success .modal-header,
.skin-plex .modal-success .modal-footer,
.skin-plex .modal-danger .modal-body,
.skin-plex .modal-danger .modal-header,
.skin-plex .modal-danger .modal-footer {
    color: #fff !important;
}
.skin-plex .bg-gray {
    color: #000;
    background-color: #d2d6de !important;
}
.skin-plex .bg-gray-light {
    background-color: #f7f7f7;
}
.skin-plex .bg-black {
    background-color: #111111 !important;
}
.skin-plex .bg-red,
.skin-plex .callout.callout-danger,
.skin-plex .alert-danger,
.skin-plex .alert-error,
.skin-plex .label-danger,
.skin-plex .modal-danger .modal-body {
    background-color: #dd4b39 !important;
}
.skin-plex .bg-yellow,
.skin-plex .callout.callout-warning,
.skin-plex .alert-warning,
.skin-plex .label-warning,
.skin-plex .modal-warning .modal-body {
    background-color: #f39c12 !important;
}
.skin-plex .bg-aqua,
.skin-plex .callout.callout-info,
.skin-plex .alert-info,
.skin-plex .label-info,
.skin-plex .modal-info .modal-body {
    background-color: #00c0ef !important;
}
.skin-plex .bg-blue {
    background-color: #0073b7 !important;
}
.skin-plex .bg-light-blue,
.skin-plex .label-primary,
.skin-plex .modal-primary .modal-body {
    background-color: #3c8dbc !important;
}
.skin-plex .bg-green,
.skin-plex .callout.callout-success,
.skin-plex .alert-success,
.skin-plex .label-success,
.skin-plex .modal-success .modal-body {
    background-color: #00a65a !important;
}
.skin-plex .bg-navy {
    background-color: #001f3f !important;
}
.skin-plex .bg-teal {
    background-color: #39cccc !important;
}
.skin-plex .bg-olive {
    background-color: #3d9970 !important;
}
.skin-plex .bg-lime {
    background-color: #01ff70 !important;
}
.skin-plex .bg-orange {
    background-color: #ff851b !important;
}
.skin-plex .bg-fuchsia {
    background-color: #f012be !important;
}
.skin-plex .bg-purple {
    background-color: #605ca8 !important;
}
.skin-plex .bg-maroon {
    background-color: #d81b60 !important;
}
.skin-plex .bg-gray-active {
    color: #000;
    background-color: #b5bbc8 !important;
}
.skin-plex .bg-black-active {
    background-color: #000000 !important;
}
.skin-plex .bg-red-active,
.skin-plex .modal-danger .modal-header,
.skin-plex .modal-danger .modal-footer {
    background-color: #d33724 !important;
}
.skin-plex .bg-yellow-active,
.skin-plex .modal-warning .modal-header,
.skin-plex .modal-warning .modal-footer {
    background-color: #db8b0b !important;
}
.skin-plex .bg-aqua-active,
.skin-plex .modal-info .modal-header,
.skin-plex .modal-info .modal-footer {
    background-color: #00a7d0 !important;
}
.skin-plex .bg-blue-active {
    background-color: #005384 !important;
}
.skin-plex .bg-light-blue-active,
.skin-plex .modal-primary .modal-header,
.skin-plex .modal-primary .modal-footer {
    background-color: #357ca5 !important;
}
.skin-plex .bg-green-active,
.skin-plex .modal-success .modal-header,
.skin-plex .modal-success .modal-footer {
    background-color: #008d4c !important;
}
.skin-plex .bg-navy-active {
    background-color: #001a35 !important;
}
.skin-plex .bg-teal-active {
    background-color: #30bbbb !important;
}
.skin-plex .bg-olive-active {
    background-color: #368763 !important;
}
.skin-plex .bg-lime-active {
    background-color: #00e765 !important;
}
.skin-plex .bg-orange-active {
    background-color: #ff7701 !important;
}
.skin-plex .bg-fuchsia-active {
    background-color: #db0ead !important;
}
.skin-plex .bg-purple-active {
    background-color: #555299 !important;
}
.skin-plex .bg-maroon-active {
    background-color: #ca195a !important;
}
.skin-plex .text-red {
    color: #dd4b39 !important;
}
.skin-plex .text-yellow {
    color: #f39c12 !important;
}
.skin-plex .text-aqua {
    color: #00c0ef !important;
}
.skin-plex .text-blue {
    color: #0073b7 !important;
}
.skin-plex .text-black {
    color: #111111 !important;
}
.skin-plex .text-light-blue {
    color: #3c8dbc !important;
}
.skin-plex .text-green {
    color: #00a65a !important;
}
.skin-plex .text-gray {
    color: #d2d6de !important;
}
.skin-plex .text-navy {
    color: #001f3f !important;
}
.skin-plex .text-teal {
    color: #39cccc !important;
}
.skin-plex .text-olive {
    color: #3d9970 !important;
}
.skin-plex .text-lime {
    color: #01ff70 !important;
}
.skin-plex .text-orange {
    color: #ff851b !important;
}
.skin-plex .text-fuchsia {
    color: #f012be !important;
}
.skin-plex .text-purple {
    color: #605ca8 !important;
}
.skin-plex .text-maroon {
    color: #d81b60 !important;
}
.skin-plex .link-muted {
    color: #7a869d;
}
.skin-plex .link-muted:hover,
.skin-plex .link-muted:focus {
    color: #606c84;
}
.skin-plex .link-black {
    color: #666;
}
.skin-plex .link-black:hover,
.skin-plex .link-black:focus {
    color: #999;
}
.skin-plex .bg-teal-gradient {
    background: #39cccc !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39cccc), color-stop(1, #7adddd)) !important;
    background: -ms-linear-gradient(bottom, #39cccc, #7adddd) !important;
    background: -moz-linear-gradient(center bottom, #39cccc 0%, #7adddd 100%) !important;
    background: -o-linear-gradient(#7adddd, #39cccc) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7adddd', endColorstr='#39cccc', GradientType=0) !important;
    color: #fff;
}
.skin-plex .bg-light-blue-gradient {
    background: #3c8dbc !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3c8dbc), color-stop(1, #67a8ce)) !important;
    background: -ms-linear-gradient(bottom, #3c8dbc, #67a8ce) !important;
    background: -moz-linear-gradient(center bottom, #3c8dbc 0%, #67a8ce 100%) !important;
    background: -o-linear-gradient(#67a8ce, #3c8dbc) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a8ce', endColorstr='#3c8dbc', GradientType=0) !important;
    color: #fff;
}
.skin-plex .bg-blue-gradient {
    background: #0073b7 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7), color-stop(1, #0089db)) !important;
    background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;
    background: -moz-linear-gradient(center bottom, #0073b7 0%, #0089db 100%) !important;
    background: -o-linear-gradient(#0089db, #0073b7) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db', endColorstr='#0073b7', GradientType=0) !important;
    color: #fff;
}
.skin-plex .bg-aqua-gradient {
    background: #00c0ef !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00c0ef), color-stop(1, #14d1ff)) !important;
    background: -ms-linear-gradient(bottom, #00c0ef, #14d1ff) !important;
    background: -moz-linear-gradient(center bottom, #00c0ef 0%, #14d1ff 100%) !important;
    background: -o-linear-gradient(#14d1ff, #00c0ef) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14d1ff', endColorstr='#00c0ef', GradientType=0) !important;
    color: #fff;
}
.skin-plex .bg-yellow-gradient {
    background: #f39c12 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12), color-stop(1, #f7bc60)) !important;
    background: -ms-linear-gradient(bottom, #f39c12, #f7bc60) !important;
    background: -moz-linear-gradient(center bottom, #f39c12 0%, #f7bc60 100%) !important;
    background: -o-linear-gradient(#f7bc60, #f39c12) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bc60', endColorstr='#f39c12', GradientType=0) !important;
    color: #fff;
}
.skin-plex .bg-purple-gradient {
    background: #605ca8 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #605ca8), color-stop(1, #9491c4)) !important;
    background: -ms-linear-gradient(bottom, #605ca8, #9491c4) !important;
    background: -moz-linear-gradient(center bottom, #605ca8 0%, #9491c4 100%) !important;
    background: -o-linear-gradient(#9491c4, #605ca8) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9491c4', endColorstr='#605ca8', GradientType=0) !important;
    color: #fff;
}
.skin-plex .bg-green-gradient {
    background: #00a65a !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00a65a), color-stop(1, #00ca6d)) !important;
    background: -ms-linear-gradient(bottom, #00a65a, #00ca6d) !important;
    background: -moz-linear-gradient(center bottom, #00a65a 0%, #00ca6d 100%) !important;
    background: -o-linear-gradient(#00ca6d, #00a65a) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca6d', endColorstr='#00a65a', GradientType=0) !important;
    color: #fff;
}
.skin-plex .bg-red-gradient {
    background: #dd4b39 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dd4b39), color-stop(1, #e47365)) !important;
    background: -ms-linear-gradient(bottom, #dd4b39, #e47365) !important;
    background: -moz-linear-gradient(center bottom, #dd4b39 0%, #e47365 100%) !important;
    background: -o-linear-gradient(#e47365, #dd4b39) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e47365', endColorstr='#dd4b39', GradientType=0) !important;
    color: #fff;
}
.skin-plex .bg-black-gradient {
    background: #111111 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111111), color-stop(1, #2b2b2b)) !important;
    background: -ms-linear-gradient(bottom, #111111, #2b2b2b) !important;
    background: -moz-linear-gradient(center bottom, #111111 0%, #2b2b2b 100%) !important;
    background: -o-linear-gradient(#2b2b2b, #111111) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#111111', GradientType=0) !important;
    color: #fff;
}
.skin-plex .bg-maroon-gradient {
    background: #d81b60 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d81b60), color-stop(1, #e73f7c)) !important;
    background: -ms-linear-gradient(bottom, #d81b60, #e73f7c) !important;
    background: -moz-linear-gradient(center bottom, #d81b60 0%, #e73f7c 100%) !important;
    background: -o-linear-gradient(#e73f7c, #d81b60) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e73f7c', endColorstr='#d81b60', GradientType=0) !important;
    color: #fff;
}
.skin-plex .list-header {
    color: #666;
}
.skin-plex .list-seperator {
    background: #f4f4f4;;
}
.skin-plex .list-link > a {
    color: #777;
}
.skin-plex .list-link > a:hover {
    color: #222;
}
.skin-plex .user-block .description {
    color: #999;
}
.skin-plex .img-bordered {
    border: 3px solid #d2d6de;
}
.skin-plex .img-bordered-sm {
    border: 2px solid #d2d6de;
}
.skin-plex .attachment-block {
    border: 1px solid #f4f4f4;
    background: #f7f7f7;
}
.skin-plex .sort-highlight {
    background: #f4f4f4;
    border: 1px dashed #ddd;
}