/*
 * Component: alert
 * ----------------
 */
.skin-plex .alert .close {
    color: #000;
}
.skin-plex .alert a {
    color: #fff;
}
.skin-plex .alert-success {
    border-color: #008d4c;
}
.skin-plex .alert-danger,
.skin-plex .alert-error {
    border-color: #d73925;
}
.skin-plex .alert-warning {
    border-color: #e08e0b;
}
.skin-plex .alert-info {
    border-color: #00acd6;
}