/*
 * Component: Small Box
 * --------------------
 */
.skin-plex .small-box {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.skin-plex .small-box > .small-box-footer {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
}
.skin-plex .small-box > .small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}
.skin-plex .small-box p > small {
    color: #f9f9f9;
}
.skin-plex .small-box .icon {
    color: rgba(0, 0, 0, 0.15);
}
.skin-plex .small-box:hover {
    color: #f9f9f9;
}