/*
 * Component: Box
 * --------------
 */
.skin-plex .box {
    background: #3f3f3f;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.skin-plex .box.box-primary {
    border-color: #f60000;
}
.skin-plex .box.box-info {
    border-color: #00c0ef;
}
.skin-plex .box.box-danger {
    border-color: #dd4b39;
}
.skin-plex .box.box-warning {
    border-color: #f39c12;
}
.skin-plex .box.box-success {
    border-color: #00a65a;
}
.skin-plex .box.box-default {
    border-color: #d2d6de;
}
.skin-plex .box .nav-stacked > li {
    border-bottom: 1px solid #f4f4f4;
}
.skin-plex .box .border-right {
    border-right: 1px solid #f4f4f4;
}
.skin-plex .box .border-left {
    border-left: 1px solid #f4f4f4;
}
.skin-plex .box.box-solid > .box-header .btn:hover,
.skin-plex .box.box-solid > .box-header a:hover {
    background: rgba(0, 0, 0, 0.1);
}
.skin-plex .box.box-solid.box-default {
    border: 1px solid #d2d6de;
}
.skin-plex .box.box-solid.box-default > .box-header {
    color: #444444;
    background: #d2d6de;
    background-color: #d2d6de;
}
.skin-plex .box.box-solid.box-default > .box-header a,
.skin-plex .box.box-solid.box-default > .box-header .btn {
    color: #444444;
}
.skin-plex .box.box-solid.box-primary {
    border: 1px solid #3c8dbc;
}
.skin-plex .box.box-solid.box-primary > .box-header {
    color: #ffffff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}
.skin-plex .box.box-solid.box-primary > .box-header a,
.skin-plex .box.box-solid.box-primary > .box-header .btn {
    color: #ffffff;
}
.skin-plex .box.box-solid.box-info {
    border: 1px solid #00c0ef;
}
.skin-plex .box.box-solid.box-info > .box-header {
    color: #ffffff;
    background: #00c0ef;
    background-color: #00c0ef;
}
.skin-plex .box.box-solid.box-info > .box-header a,
.skin-plex .box.box-solid.box-info > .box-header .btn {
    color: #ffffff;
}
.skin-plex .box.box-solid.box-danger {
    border: 1px solid #dd4b39;
}
.skin-plex .box.box-solid.box-danger > .box-header {
    color: #ffffff;
    background: #dd4b39;
    background-color: #dd4b39;
}
.skin-plex .box.box-solid.box-danger > .box-header a,
.skin-plex .box.box-solid.box-danger > .box-header .btn {
    color: #ffffff;
}
.skin-plex .box.box-solid.box-warning {
    border: 1px solid #f39c12;
}
.skin-plex .box.box-solid.box-warning > .box-header {
    color: #ffffff;
    background: #f39c12;
    background-color: #f39c12;
}
.skin-plex .box.box-solid.box-warning > .box-header a,
.skin-plex .box.box-solid.box-warning > .box-header .btn {
    color: #ffffff;
}
.skin-plex .box.box-solid.box-success {
    border: 1px solid #00a65a;
}
.skin-plex .box.box-solid.box-success > .box-header {
    color: #ffffff;
    background: #00a65a;
    background-color: #00a65a;
}
.skin-plex .box.box-solid.box-success > .box-header a,
.skin-plex .box.box-solid.box-success > .box-header .btn {
    color: #ffffff;
}
.skin-plex .box.box-solid[class*='bg'] > .box-header {
    color: #fff;
}
.skin-plex .box .knob-label {
    color: #333;
}
.skin-plex .box .overlay,
.skin-plex .overlay-wrapper .overlay {
    background: rgba(255, 255, 255, 0.7);
}
.skin-plex .box .overlay > .fa,
.skin-plex .overlay-wrapper .overlay > .fa {
    color: #fff;
    font-size: 10em;
    margin-left: -70px;
    margin-top: -70px;
}
.skin-plex .box .overlay.dark,
.skin-plex .overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}
.skin-plex .box-header {
    color: #ccc;
}
.skin-plex .box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.skin-plex .btn-box-tool {
    background: transparent;
    color: #97a0b3;
}
.skin-plex .open .btn-box-tool,
.skin-plex .btn-box-tool:hover {
    color: #606c84;
}
.skin-plex .box-footer {
    border-top: 1px solid #f4f4f4;
    background-color: #ffffff;
}
.skin-plex .box-comments {
    background: #f7f7f7;
}
.skin-plex .box-comments .box-comment {
    border-bottom: 1px solid #eee;
}
.skin-plex .box-comments .comment-text {
    color: #555;
}
.skin-plex .box-comments .username {
    color: #444;
}