/*
 * Component: Button
 * -----------------
 */
.skin-plex .btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.skin-plex .btn.btn-file > input[type='file'] {
    background: white;
}
.skin-plex .btn-default {
    background-color: #4f4f4f;
    color: #ffffff;
    border-color: #666;
}
.skin-plex .btn-default:hover,
.skin-plex .btn-default:active,
.skin-plex .btn-default.hover {
    background-color: #f4f4f4;
    color: #000000;
}
.skin-plex .btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}
.skin-plex .btn-primary:hover,
.skin-plex .btn-primary:active,
.skin-plex .btn-primary.hover {
    background-color: #367fa9;
}
.skin-plex .btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
}
.skin-plex .btn-success:hover,
.skin-plex .btn-success:active,
.skin-plex .btn-success.hover {
    background-color: #008d4c;
}
.skin-plex .btn-info {
    background-color: #00c0ef;
    border-color: #00acd6;
}
.skin-plex .btn-info:hover,
.skin-plex .btn-info:active,
.skin-plex .btn-info.hover {
    background-color: #00acd6;
}
.skin-plex .btn-danger {
    background-color: #dd4b39;
    border-color: #d73925;
}
.skin-plex .btn-danger:hover,
.skin-plex .btn-danger:active,
.skin-plex .btn-danger.hover {
    background-color: #d73925;
}
.skin-plex .btn-warning {
    background-color: #f39c12;
    border-color: #e08e0b;
}
.skin-plex .btn-warning:hover,
.skin-plex .btn-warning:active,
.skin-plex .btn-warning.hover {
    background-color: #e08e0b;
}
.skin-plex .btn-outline {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.skin-plex .btn-outline:hover,
.skin-plex .btn-outline:focus,
.skin-plex .btn-outline:active {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
}
.skin-plex .btn[class*='bg-']:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}
.skin-plex .btn-app {
    color: #666;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}
.skin-plex .btn-app:hover {
    background: #f4f4f4;
    color: #444;
    border-color: #aaa;
}
.skin-plex .btn-app:active,
.skin-plex .btn-app:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}