/*
 * Component: Callout
 * ------------------
 */
.skin-plex .callout {
    border-left: 5px solid #eee;
}
.skin-plex .callout a {
    color: #fff;
}
.skin-plex .callout a:hover {
    color: #eee;
}
.skin-plex .callout code,
.skin-plex .callout .highlight {
    background-color: #fff;
}
.skin-plex .callout.callout-danger {
    border-color: #c23321;
}
.skin-plex .callout.callout-warning {
    border-color: #c87f0a;
}
.skin-plex .callout.callout-info {
    border-color: #0097bc;
}
.skin-plex .callout.callout-success {
    border-color: #00733e;
}