/*
 * Component: Carousel
 * -------------------
 */
.skin-plex .carousel-control {
    color: #ffffff;
    transition: all .5s ease-in-out;
    transform: scale(0.5);
}
.skin-plex .carousel-control:hover {
    color: #ffffff;
}
.skin-plex .carousel-control span {
    padding: 10px;
    background: #000000;
    border-radius: 25px;
}
.skin-plex .carousel-control:hover span {
    transform: scale(3);
}
.skin-plex .carousel-caption {
    background: rgba(0,0,0,0.75);
    left: 25%;
    right: 25%;
    border-radius: 15px;
}
.skin-plex .carousel-caption a {
    color: hsl(0,50%,75%);
}
.skin-plex .carousel-caption a:hover,
.skin-plex .carousel-caption a:active,
.skin-plex .carousel-caption a:focus {
    color: #ff0000;
}

.skin-plex .carousel-inner > .item > img,
.skin-plex .carousel-inner > .item > a > img {
    border-radius: 5px;
}