/*
 * Component: Direct Chat
 * ----------------------
 */
.skin-plex .direct-chat-text {
    background: #d2d6de;
    border: 1px solid #d2d6de;
    color: #444444;
}
.skin-plex .direct-chat-text:after,
.skin-plex .direct-chat-text:before {
    border-right-color: #d2d6de;
}
.skin-plex .right .direct-chat-text:after,
.skin-plex .right .direct-chat-text:before {
    border-left-color: #d2d6de;
}
.skin-plex .direct-chat-timestamp {
    color: #999;
}
.skin-plex .direct-chat-contacts {
    background: #222d32;
    color: #fff;
}
.skin-plex .contacts-list > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.skin-plex .contacts-list-info {
    color: #fff;
}
.skin-plex .contacts-list-date {
    color: #aaa;
}
.skin-plex .contacts-list-msg {
    color: #999;
}
.skin-plex .direct-chat-danger .right > .direct-chat-text {
    background: #dd4b39;
    border-color: #dd4b39;
    color: #ffffff;
}
.skin-plex .direct-chat-danger .right > .direct-chat-text:after,
.skin-plex .direct-chat-danger .right > .direct-chat-text:before {
    border-left-color: #dd4b39;
}
.skin-plex .direct-chat-primary .right > .direct-chat-text {
    background: #3c8dbc;
    border-color: #3c8dbc;
    color: #ffffff;
}
.skin-plex .direct-chat-primary .right > .direct-chat-text:after,
.skin-plex .direct-chat-primary .right > .direct-chat-text:before {
    border-left-color: #3c8dbc;
}
.skin-plex .direct-chat-warning .right > .direct-chat-text {
    background: #f39c12;
    border-color: #f39c12;
    color: #ffffff;
}
.skin-plex .direct-chat-warning .right > .direct-chat-text:after,
.skin-plex .direct-chat-warning .right > .direct-chat-text:before {
    border-left-color: #f39c12;
}
.skin-plex .direct-chat-info .right > .direct-chat-text {
    background: #00c0ef;
    border-color: #00c0ef;
    color: #ffffff;
}
.skin-plex .direct-chat-info .right > .direct-chat-text:after,
.skin-plex .direct-chat-info .right > .direct-chat-text:before {
    border-left-color: #00c0ef;
}
.skin-plex .direct-chat-success .right > .direct-chat-text {
    background: #00a65a;
    border-color: #00a65a;
    color: #ffffff;
}
.skin-plex .direct-chat-success .right > .direct-chat-text:after,
.skin-plex .direct-chat-success .right > .direct-chat-text:before {
    border-left-color: #00a65a;
}