/*
 * Component: Form
 * ---------------
 */
.skin-plex .form-control:focus {
    border-color: #3c8dbc;
}
.skin-plex .form-group.has-success label {
    color: #00a65a;
}
.skin-plex .form-group.has-success .form-control,
.skin-plex .form-group.has-success .input-group-addon {
    border-color: #00a65a;
}
.skin-plex .form-group.has-success .help-block {
    color: #00a65a;
}
.skin-plex .form-group.has-warning label {
    color: #f39c12;
}
.skin-plex .form-group.has-warning .form-control,
.skin-plex .form-group.has-warning .input-group-addon {
    border-color: #f39c12;
}
.skin-plex .form-group.has-warning .help-block {
    color: #f39c12;
}
.skin-plex .form-group.has-error label {
    color: #dd4b39;
}
.skin-plex .form-group.has-error .form-control,
.skin-plex .form-group.has-error .input-group-addon {
    border-color: #dd4b39;
}
.skin-plex .form-group.has-error .help-block {
    color: #dd4b39;
}
/* Input group */
.skin-plex .input-group .input-group-addon {
    border-color: #d2d6de;
    background-color: #fff;
}