/*
 * Component: Info Box
 * -------------------
 */
.skin-plex .info-box {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.skin-plex .info-box .progress {
    background: rgba(0, 0, 0, 0.2);
}
.skin-plex .info-box .progress .progress-bar {
    background: #fff;
}
.skin-plex .info-box-icon {
    background: rgba(0, 0, 0, 0.2);
}