/*
 * Component: modal
 * ----------------
 */
.skin-plex .modal {
    background: rgba(0, 0, 0, 0.3);
}
.skin-plex .modal-content {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
}
@media (min-width: 768px) {
    .skin-plex .modal-content {
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    }
}
.skin-plex .modal-header {
    border-bottom-color: #f4f4f4;
}
.skin-plex .modal-footer {
    border-top-color: #f4f4f4;
}
.skin-plex .modal-primary .modal-header,
.skin-plex .modal-primary .modal-footer {
    border-color: #307095;
}
.skin-plex .modal-warning .modal-header,
.skin-plex .modal-warning .modal-footer {
    border-color: #c87f0a;
}
.skin-plex .modal-info .modal-header,
.skin-plex .modal-info .modal-footer {
    border-color: #0097bc;
}
.skin-plex .modal-success .modal-header,
.skin-plex .modal-success .modal-footer {
    border-color: #00733e;
}
.skin-plex .modal-danger .modal-header,
.skin-plex .modal-danger .modal-footer {
    border-color: #c23321;
}