/*
 * Component: Nav
 * --------------
 */
.skin-plex .main-header .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.skin-plex .nav > li > a:hover,
.skin-plex .nav > li > a:active,
.skin-plex .nav > li > a:focus {
    color: #444;
    background: #f7f7f7;
}
/* NAV PILLS */
.skin-plex .nav-pills > li > a {
    color: #444;
}
.skin-plex .nav-pills > li.active > a,
.skin-plex .nav-pills > li.active > a:hover,
.skin-plex .nav-pills > li.active > a:focus {
    border-top-color: #3c8dbc;
}
/* NAV STACKED */
.skin-plex .nav-stacked > li > a {
    color: #444;
}
.skin-plex .nav-stacked > li.active > a,
.skin-plex .nav-stacked > li.active > a:hover {
    color: #444;
    border-left-color: #3c8dbc;
}
.skin-plex .nav-stacked > li.header {
    border-bottom: 1px solid #ddd;
    color: #777;
}
/* NAV TABS */
.skin-plex .nav-tabs-custom {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.skin-plex .nav-tabs-custom > .nav-tabs {
    border-bottom-color: #f4f4f4;
}
.skin-plex .nav-tabs-custom > .nav-tabs > li > a {
    color: #444;
}
.skin-plex .nav-tabs-custom > .nav-tabs > li > a.text-muted {
    color: #999;
}
.skin-plex .nav-tabs-custom > .nav-tabs > li > a:hover {
    color: #999;
}
.skin-plex .nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #3c8dbc;
}
.skin-plex .nav-tabs-custom > .nav-tabs > li.active > a,
.skin-plex .nav-tabs-custom > .nav-tabs > li.active:hover > a {
    background-color: #fff;
    color: #444;
}
.skin-plex .nav-tabs-custom > .nav-tabs > li.active > a {
    border-left-color: #f4f4f4;
    border-right-color: #f4f4f4;
}
.skin-plex .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
    border-left-color: #f4f4f4;
}
.skin-plex .nav-tabs-custom > .nav-tabs > li.header {
    color: #444;
}
.skin-plex .nav-tabs-custom > .tab-content {
    background: #fff;
}
.skin-plex .nav-tabs-custom .dropdown.open > a:active,
.skin-plex .nav-tabs-custom .dropdown.open > a:focus {
    color: #999;
}
.skin-plex .nav-tabs-custom.tab-primary > .nav-tabs > li.active {
    border-top-color: #3c8dbc;
}
.skin-plex .nav-tabs-custom.tab-info > .nav-tabs > li.active {
    border-top-color: #00c0ef;
}
.skin-plex .nav-tabs-custom.tab-danger > .nav-tabs > li.active {
    border-top-color: #dd4b39;
}
.skin-plex .nav-tabs-custom.tab-warning > .nav-tabs > li.active {
    border-top-color: #f39c12;
}
.skin-plex .nav-tabs-custom.tab-success > .nav-tabs > li.active {
    border-top-color: #00a65a;
}
.skin-plex .nav-tabs-custom.tab-default > .nav-tabs > li.active {
    border-top-color: #d2d6de;
}
/* PAGINATION */
.skin-plex .pagination > li > a {
    background: #fafafa;
    color: #666;
}