/*
 * Component: Pager
 * ----------------
 */
.skin-plex .pager {
    font-size: 125%;
}
.skin-plex .pager > .pager-control {
    display: inline-block;
    background-color: #ccc;
    width: 31px;
    margin: 0 4px;
    border-radius: 50%;
    border: 3px solid #000;
    color: #000;
}
.skin-plex .pager > .pager-control.disabled {
    display: inline-block;
    filter: brightness(25%);
}
.skin-plex .pager > .pagedisplay {
    font-size: 100%;
    display: inline-block;
}

.skin-plex .pager select {
    border-radius: 20px;
    text-align: center;
    text-align-last: center;
}
.skin-plex .pager select option {
}