/*
 * Component: Products List
 * ------------------------
 */
.skin-plex .products-list > .item {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
}
.skin-plex .products-list .product-description {
    color: #999;
}
.skin-plex .product-list-in-box > .item {
    border-bottom: 1px solid #f4f4f4;
}