/*
 * Component: Progress Bar
 * -----------------------
 */
.skin-plex .progress-bar-light-blue,
.skin-plex .progress-bar-primary {
    background-color: #3c8dbc;
}
.skin-plex .progress-bar-green,
.skin-plex .progress-bar-success {
    background-color: #00a65a;
}
.skin-plex .progress-bar-aqua,
.skin-plex .progress-bar-info {
    background-color: #00c0ef;
}
.skin-plex .progress-bar-yellow,
.skin-plex .progress-bar-warning {
    background-color: #f39c12;
}
.skin-plex .progress-bar-red,
.skin-plex .progress-bar-danger {
    background-color: #dd4b39;
}