/*
 * Component: Social Widgets
 * -------------------------
 */
.skin-plex .widget-user .widget-user-username {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.skin-plex .widget-user .widget-user-image > img {
    border: 3px solid #fff;
}