/*
 * Component: Table
 * ----------------
 */
.skin-plex .table > thead > tr > th,
.skin-plex .table > tbody > tr > th,
.skin-plex .table > tfoot > tr > th,
.skin-plex .table > thead > tr > td,
.skin-plex .table > tbody > tr > td,
.skin-plex .table > tfoot > tr > td {
    border-top: none; /*1px solid #f4f4f4;*/
}
.skin-plex .table > thead > tr > th {
    border-bottom: 2px solid #f4f4f4;
}
.skin-plex .table-bordered {
    border: 1px solid #f4f4f4;
}
.skin-plex .table-bordered > thead > tr > th,
.skin-plex .table-bordered > tbody > tr > th,
.skin-plex .table-bordered > tfoot > tr > th,
.skin-plex .table-bordered > thead > tr > td,
.skin-plex .table-bordered > tbody > tr > td,
.skin-plex .table-bordered > tfoot > tr > td {
    border: 1px solid #f4f4f4;
}

.skin-plex .table .table {
    background-color: #333;
}

.skin-plex .table-striped > tbody > tr a {
    color: #fff;
}

.skin-plex .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #3f3f3f;
}
.skin-plex .table-hover > tbody > tr:hover,
.skin-plex .table-hover > tbody > tr:nth-of-type(odd):hover,
.skin-plex .table-hover > tbody > tr:hover a {
     background-color: #f5f5f5;
    color: #000;
 }