/*
 * Component: Thumbnail
 * --------------------
 */
.skin-plex .thumbnail {
    background-color: #3f3f3f;
    border-color: #777;
}

.skin-plex .thumbnail .caption {
    color: #fff;
}

.skin-plex .thumbnail .caption a i.fa {
    color: #fff;
}
.skin-plex .thumbnail .caption a:hover i.fa,
.skin-plex .thumbnail .caption a:active i.fa,
.skin-plex .thumbnail .caption a:focus i.fa {
    color: #c3c3c3;
}