/*
 * Component: Timeline
 * -------------------
 */
.skin-plex .timeline:before {
    background: #ddd;
}
.skin-plex .timeline > li > .timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    color: #444;
}
.skin-plex .timeline > li > .timeline-item > .time {
    color: #999;
}
.skin-plex .timeline > li > .timeline-item > .timeline-header {
    color: #555;
    border-bottom: 1px solid #f4f4f4;
}
.skin-plex .timeline > li > .fa,
.skin-plex .timeline > li > .glyphicon,
.skin-plex .timeline > li > .ion {
    color: #666;
    background: #d2d6de;
}
.skin-plex .timeline > .time-label > span {
    background-color: #fff;
}
.skin-plex .timeline-inverse > li > .timeline-item {
    background: #f0f0f0;
    border: 1px solid #ddd;
}
.skin-plex .timeline-inverse > li > .timeline-item > .timeline-header {
    border-bottom-color: #ddd;
}