/*
 * Component: TODO List
 * --------------------
 */
.skin-plex .todo-list > li {
    background: #f4f4f4;
    border-left: 2px solid #e6e7e8;
    color: #444;
}
.skin-plex .todo-list > li .tools {
    display: none;
    float: right;
    color: #dd4b39;
}
.skin-plex .todo-list > li.done {
    color: #999;
}
.skin-plex .todo-list > li.done .label {
    background: #d2d6de !important;
}
.skin-plex .todo-list .danger {
    border-left-color: #dd4b39;
}
.skin-plex .todo-list .warning {
    border-left-color: #f39c12;
}
.skin-plex .todo-list .info {
    border-left-color: #00c0ef;
}
.skin-plex .todo-list .success {
    border-left-color: #00a65a;
}
.skin-plex .todo-list .primary {
    border-left-color: #3c8dbc;
}