/*
 * Component: Users List
 * ---------------------
 */
.skin-plex .users-list > li > a:hover,
.skin-plex .users-list > li > a:hover .users-list-name {
    color: #999;
}
.skin-plex .users-list-name {
    color: #444;
}
.skin-plex .users-list-date {
    color: #999;
}